In [4]:
#install required libraries
import numpy as np

import pandas as pd

import requests
#Data Source

import yfinance as yf

In [5]:
#fetch the stock data of bitcoin using yfinance API with intervals of 1 day for 3 years
data_price = yf.download(tickers='BTC-EUR', period='5y', interval='1d')

#as the index is set as datetime column we need to change it to a proper indexing
data_price.reset_index(inplace=True)

[*********************100%***********************]  1 of 1 completed

In [8]:
data_price.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-11-11,5674.877930,5893.123535,5319.574707,5451.084473,5451.084473,4208762919
1,2017-11-12,5397.796387,5680.399414,4732.066895,5102.976074,5102.976074,7682118257
2,2017-11-13,5092.838867,5835.995117,5016.558105,5624.187988,5624.187988,5370187705
3,2017-11-14,5625.894043,5796.897949,5494.685547,5628.764160,5628.764160,2711943351
4,2017-11-15,5627.924316,6227.523438,5626.492188,6209.081543,6209.081543,3565506814
5,2017-11-16,6215.617188,6770.376953,6089.071777,6683.384277,6683.384277,4350322459
6,2017-11-17,6667.999512,6788.728516,6415.858887,6536.920410,6536.920410,3944433152
7,2017-11-18,6526.931152,6686.161621,6328.703613,6605.740723,6605.740723,3109632847
8,2017-11-19,6585.287598,6874.181152,6524.293945,6848.308594,6848.308594,2683698284
9,2017-11-20,6850.506836,7106.086426,6774.060547,6987.593262,6987.593262,2972435283
10,2017-11-21,6991.939453,7113.718750,6613.879395,6875.008301,6875.008301,3643620089
11,2017-11-22,6880.707031,7066.354492,6880.938965,6986.245117,6986.245117,3075613773
12,2017-11-23,6968.325684,6995.600098,6784.344727,6784.344727,6784.344727,3565853578
13,2017-11-24,6814.094238,7069.784668,6702.903809,6918.433105,6918.433105,4240243232
14,2017-11-25,6908.390625,7368.750977,6866.009766,7368.750977,7368.750977,3639614444
15,2017-11-26,7367.175293,7985.685059,7355.900879,7823.048340,7823.048340,4590911297
16,2017-11-27,7841.636230,8247.941406,7842.951660,8247.941406,8247.941406,4749092903
17,2017-11-28,8252.208984,8510.421875,8196.918945,8489.871094,8489.871094,5358558379
18,2017-11-29,8505.571289,9720.145508,8096.668945,8343.411133,8343.411133,9761052771
19,2017-11-30,8358.750000,9118.615234,7735.415039,8601.109375,8601.109375,6984946875